.handWaveImg {
  animation-name: wave-animation;
  animation-duration: 3s;
  animation-iteration-count: 1;
  transform-origin: 70% 70%;
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 5px;
  margin-bottom: 3px;
}
